.travel-style-europe {
    text-align: center;
}
.title-europe {
    background-color: #767769d1;
    color: red;
    padding: 30px 0;
}
.title-item-europe {
    background-color: #c9c9b6;
    padding: 20px 0;
}
.text-europe {
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 30px 0;
    width: 800px;
    margin: 0 auto;
}