.travel-style-middle-east {
    text-align: center;
}
.title-middle-east {
    background-color: #6ea8c4;
    color: red;
    padding: 30px 0;
}
.title-item-middle-east {
    background-color: #3f94ef99;
    padding: 20px 0;
}
.text-middle-east {
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 30px 0;
    width: 800px;
    margin: 0 auto;
}