.activeMenuItem {
    text-decoration: none;
    border: 1px solid white;
    background-color: rgb(233, 187, 102);
    border-radius: 5px;
    padding: 4px 10px;
    color: rgb(57, 34, 24);
}

.menuItem {
    border: 1px solid transparent;
    color: #404040;
    text-decoration: none;
}