.travel-style-australia {
    text-align: center;
}
.title-australia {
    background-color: #009688bd;
    color: black;
    padding: 30px 0;
}
.title-item-australia {
    background-color: #a0e0da;
    padding: 20px 0;
}
.text-australia {
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 30px 0;
    width: 800px;
    margin: 0 auto;
}